/*  
* Style by D3NN7
* and Patrick Hlauke (https://codepen.io/patrickhlauke/pen/YaoBop)
*/

html {
	background: var(--_BG);
	padding: 0;
	margin: 0;
	color: var(--_TXT);
	text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
	animation: textflicker 0.005s infinite alternate;
}

@keyframes textflicker {
	from {
		text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
	}

	to {
		text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
	}
}

.filter {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

#vignette {
	background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 47%, rgba(0, 0, 0, 0.5) 100%);
}

#scanlines {
	overflow: hidden;
	position: relative;
}

#scanlines:before,
#scanlines:after {
	display: block;
	pointer-events: none;
	content: "";
	position: absolute;
}

#scanlines:before {
	width: 100%;
	height: 2px;
	z-index: 2147483649;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0.75;
	animation: scanline 6s linear infinite;
}

#scanlines:after {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483648;
	background: linear-gradient(to bottom,
			transparent 50%,
			rgba(0, 0, 0, 0.3) 51%);
	background-size: 100% 4px;
	animation: scanlines 1s steps(60) infinite;
}

div#scanlines {
	position: absolute;
}

div#blur{
	filter:blur(0.07ch);
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
	0% {
		transform: translate3d(0, 200000%, 0);
	}
}

@keyframes scanlines {
	0% {
		background-position: 0 50%;
	}
}


h1 {
	font-size: 5em;
	text-align: center;
}

h2 {
	margin: 0;
}

a {
	color: white;
}

body {
	background-color: #272727;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Doto", "Courier New";
	font-weight: 700;
	font-size: 150%;
	text-shadow: 0 0 1ch rgb(255, 255, 255);

}

.bodybg {
	width: 100vw;
	height: 100vh;
	--dot-bg: black;
	--dot-color: white;
	--dot-size: 3px;
	--dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);

	animation: bgpan 25s infinite linear;

	filter: blur(1px);
	position: fixed;
}

.lorem,
.dim {
	opacity: 25%;
}

@keyframes bgpan {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 100% 33%;
	}
}


div.container {
	padding: 3% 5%;
	width: auto;
	/* min-height: 100%; */
	/* height: max-content; */
	display: flex;
	font-size: large;
	filter: none;
	backdrop-filter: blur(2px);
}

div.container>div {
	margin: 0.5ch;
	padding: 2ch;
	min-height: 100%;
	background-color: rgba(31, 31, 31, 0.795);
	backdrop-filter: blur(5px);
}

div.nav {
	display:flex;
	width: 40ch;
	min-width: max-content;
	height: auto;
	padding: 1ch;
	padding-top: 0;
	justify-content: center;
}

div.nav>.bottom{
	align-self: flex-end;
}

div.bio {
	width: auto;
	height: auto;
}

.midtext {
	text-align: center;
}

span.pop:hover {
	background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	background-repeat: repeat;
	background-size: 200% auto;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	animation: rainbowtext 1.5s infinite linear;
	/* text-shadow: none; */
	font-weight: 900;

}

@keyframes rainbowtext {
	100% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	0% {
		background-position: 200% 50%;
	}
}